<!-- <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
          <div class="col-xs-4 col-md-4">
            <div class="buttons">
              <button class="btn btn-default refresh" type="button" (click)="gotoFavouriteList()">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="col-xs-4 col-md-4" style="text-align:center;height:100%;">
            <div class="panel-title heading">Stock Details</div>
          </div>
          <div class="col-xs-4 col-md-4"></div>
      </div>
    </div>
    <div class="panel-body">
  
      <ul class="nav nav-pills">
          <li role="presentation"><a [routerLink]="['/currentStock']">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            Current Stock
          </a></li>
          <li role="presentation"><a [routerLink]="['/historicalCharts']">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            Historical Charts
          </a></li>
          <li role="presentation" class="active"><a href="javascript:void(0)">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            News Feeds
          </a></li>
      </ul>
  
      <hr>


    </div>
  </div>
   -->
   <p>News Feeds</p>